body {
  margin: 0;
  background-color: black;
}

.item1 { grid-area: header; }
.item2 { grid-area: title; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.App > div {
  text-align: center;
  padding:  7px 10px 60px;
  font-size: 30px;
  
}

